.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: whitesmoke;
}
.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 100px;
}
.box1{
    height: 200px;
    order: 3;
    flex-basis: 350px;
    align-self: flex-end;
}
.box2{
    height: 300px;
    order: 2;
}
.box3{
    height: 700px;
    order: 1;
}
